@font-face {
  font-family: "InterLocal";
  font-style: normal;
  font-weight: 400;
  src: local("Inter-UI-Regular"),
       local("Inter-UI-Medium");
}

@font-face {
  font-family: "Inter UI";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Inter-UI-Regular.woff2") format("woff2"),
    url("../fonts/Inter-UI-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Inter UI";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/Inter-UI-Italic.woff2") format("woff2"),
    url("../fonts/Inter-UI-Italic.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Inter UI Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Inter-UI-Medium.woff2") format("woff2"),
    url("../fonts/Inter-UI-Medium.woff") format("woff");
  font-display: swap;
}

body {
  font-family: "InterLocal", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.fonts-loaded body {
  font-family: "Inter UI", sans-serif;
}
